body{
    /* padding: 15%;
    padding-top: 10%; */
}
.content-wrapper{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    width: 100%;
}
h1{
    font-family: "helvetica";
    font-size: 45px;
    color: blue;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 28px;
}
h1> div{
    display: block;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 15;
    text-align: justify;
    font-size:16px;
    max-width: 700px;
}

a{
    width: 60%;
    position: fixed;
    right: -150px;
    z-index: -1;
}

img{
    /* border:3px blue solid; */
    width: 100%;
    transition: transform .2s; /* Animation */

}

img:hover{
    /* transform: scale(1.1); (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /* border: 3px red solid; */

}

.text-content{
    width: 40%;
    padding: 15px;
}