body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f5f4e9;
    margin:20px;
  }
  
  h1{
      font-family:"Helvetica";
      font-size: 96px;
      line-height: 72px;
      color:#de3023;
      margin: 0;
     
  }
  h2{
    margin: 0;
    font-size: 22px;
    font-weight: 100;
    padding-left: 5px;
  }

  .logo{
    margin-bottom: 120px;
  }

  .description{
    max-width: 600px;
    font-family: "georgia";
    font-size: 18px;
  }

.t-logo{
    height: 50px;
    width: 50px;
    top: 10px;
    right: 10px;
    mix-blend-mode: luminosity;
}
.wrapper{
    display: flex;
    gap: 15px;
    align-items: center;

}