body{
    margin: 0;
}

.story-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 130px;
}

#top-thing{
   display: none;
   /* transition: all ease-in-out 0.5s; */
}

#top-thing.showing{
    display: inline-block;
    color: green;
}


.bottom-story{
    cursor: pointer;
    transition: color ease-in 0.1s;
}
.bottom-story:hover{
    color: rgba(0,0,0,0.3);  
}


.story-title{
    font-family: sans-serif;
    width: 100%;
}

.story-title h1, h2{
    display: flex;
    justify-content: space-between;
}
.story-title h1{
    font-size: 72px;
}
.story-title h1 span{
    display: inline;
}
.story-title  h2{
    font-weight: 100;
}
/* .top-story .red {
    background: red;
    display: inline-block;
    font-style: italic;
    font-size: 32px;
} */

h3{
    padding: 15px;
    display: inline-block;
}

#mouse-info-container{
    border-radius: 100%;
    height: 70px;
    width: 70px;
    pointer-events: none;
    background:transparent;
    border: solid 1px black;
    position: fixed;
    top: 0;
    font-size: 12px;
    font-weight: 300;
}